<ion-menu side="start" content-id="main-content">
    <ion-header>
        <div class="profile">
            <img class="profile-picture" src="{{user['Stu_img']}}" />
            <h3 class="name">{{user['Stu_name']}}</h3>
        </div>
    </ion-header>
    <ion-content>
        <ion-list>
            <ion-item (click)="qr()">
                <ion-icon name="qr-code-outline" slot="start"></ion-icon>
                <span>QR-CODE</span>
            </ion-item>
         
            <ion-item (click)="check_result()">
                <ion-icon name="cellular-outline" slot="start"></ion-icon>
                <span>สรุปผลการทำกิจกรรม11</span>
            </ion-item>

            <!-- <ion-item>
                <ion-icon name="cellular-outline" slot="start"></ion-icon>
                <span>ลงทะเบียนแก้กิจกรรม</span>
            </ion-item> -->

            <ion-item (click)="logout()">
                <ion-icon name="log-out-outline" slot="start"></ion-icon>
                <span>ออกจากระบบ</span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
</div>

<script>
    async function openMenu() {
        await menuController.open();
    }
</script>